parameters:
    level: 6
    paths:
        - src
        - redirect
        - admin
        - bootstrap
        - module
        - ops
        - user
    excludePaths:
        - vendor
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
